COMPANY_NAME="Nolita"
SITE_NAME="Nolita"
NEXT_PUBLIC_VADMIN_API_URL="http://nolita.test/api"
NEXTJS_REVALIDATE_TOKEN=""
SHOPIFY_REVALIDATION_SECRET=""
SHOPIFY_STOREFRONT_ACCESS_TOKEN=""
SHOPIFY_STORE_DOMAIN=""
